<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.upv.epsg.iot_g1_1"
    >

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Closset"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPrueba"
        tools:targetApi="31"
        >

        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PrimeraActividad"
            android:exported="true" > </activity>

        <activity android:name=".Int1.LandingPage_int1"
            android:exported="true">

        </activity>
        <activity android:name=".MainActivity"
            android:exported="true">

        </activity>

        <activity android:name=".Int2.MainActivity_int2"
            android:exported="true" />

        <activity android:name=".Int1.NuevaPrenda_int1"
            android:exported="true">

        </activity>
        <activity android:name=".Int2.NuevaPrenda_int2"
            android:exported="true">

        </activity>
        <activity android:name=".Int2.LandingPage_int2"
            android:exported="true"/>
        <activity android:name=".Int1.CambioDatos_int1"
            android:exported="true">

        </activity>

        <activity android:name=".Int2.CambioDatos_int2"
            android:exported="true">

        </activity>

        <activity android:name=".AcercaDeActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:exported="true">

        </activity>
        <activity android:name=".NoDisponibleActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:exported="true">

        </activity>

        <activity android:name=".PreferenciasActivity"
            android:label="Preferencias"/>

    </application>

</manifest>